html {
    width: 100%;
    height: 100%;
}

body {
    margin: 1rem;
    background-color: black;
    color: whitesmoke;
    font-size: 5rem;
    overflow: hidden;

    background: black url("../img/flames.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* shorthand, but has issues on Safari */
    /* background: black url("../img/flames.gif") no-repeat center/cover; */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin: 10% 4rem 0 4rem;
}

.last {
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(220, 200, 180);
}

/* CSS Animation example */

/* @keyframes fadeOut {
    0% { opacity: 1; } 
    100% { opacity: 0; }
}
body {
    animation-name: fadeOut;
    animation-duration: 2s;
} */

/* CSS Transition example */

div {
    transition-property: transform;
    transition-duration: 3s;
}

/* body {
    transition-property: transform;
    transition-duration: 3s;
} */